.static-nav {

  .search-box {
    box-shadow: 0 0 0 $color-transparent-alt;
  }

  .is-visible {
    box-shadow: 0 2px 4px $color-transparent-alt;
  }

}

.is-visible {
  height: $navbar-height !important;
  box-shadow: 0 2px 4px $color-transparent-alt;
}

.search-icon,
.search-close {
  border: 0;
  font-size: 16px;

  &:hover,
  &:focus {
    outline: 0;
  }
}

.search-icon {
  margin-right: 5px;
  padding: 11px 15px;
  font-size: 20px;

  @media (min-width: $screen-sm-min) {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
  }
}

.search-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  height: 0;
  width: 100%;
  padding: 0 80px;
  z-index: 10;
  background: $color-white;
  overflow: hidden;
  transition: .2s cubic-bezier(0, 0, 0, 1);

  @media (max-width: $screen-md-min) {
    padding: 0 20px;
  }

}

.search-input {
  width: calc(100% - 40px);
  height: 100%;
  margin: auto;
  padding: 0 10px;
  border: 0;
  color: $search-input-font-color;
  font-size: 16px;
  transition: .2s cubic-bezier(0, 0, 0, 1);

  &:focus {
    outline: 0;
    border-color: $color-primary;
  }

}

.search-box-icon {
  font-size: 14px;
  color: $color-primary;
}

.st-handbook {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $border-color;
  margin-bottom: 20px;
}
